<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.TallerReparacionConnectionString"
            connectionString="Data Source=SQLSERVER\SQLSERVER;Initial Catalog=TallerReparacion;User ID=BDJorge"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>